#pop-up-wind {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 25%;
    margin-left: -13.5%;
    padding-left: 25px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 7px RGBA(0,0,0,0.3);
    box-sizing: border-box;
    overflow: visible;
    transition: opacity 0.2s;
    z-index: 6;
}

#film-name {
    max-width: 75%;
    text-align: left;
    margin-right: 20%;
    font-family: Arial;
    font-size: 130%;
}

#film_image {
    position: absolute;
    width: 30%;
    margin-right: 5%;
    float: left;
}

#description {
    position: relative;
    left: 40%;
    margin-top: 5px;
    text-align: left;
    width: 50%;
    font-size: auto;
}

#close-btn {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('./../pix/close_btn.png');
    background-size: 100%;
    border-radius: 50%;
}

#pop-up-wind-back {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 5;
}

.pop-up-wind-closed {
    visibility: hidden;
    opacity: 0;
}